// Sidebar
.sidebar {
    .wrapper h3 {
        padding-left: 10px;
        text-align: left;
    }

    &::after {
        content: '';
        background-image: url("assets/icons/planet-icon-1.svg");
        margin: auto 20px;
        display: block;
        height: 200px;
    }
}

@media only screen and (max-width: $medBreakpoint - 1) {
    .sidebar {
        display: flex;
        .wrapper {
            width: 60%;
            margin-right: 8px;
        }
        &::after {
            width: 40%;
        }
    }
}

@media only screen and (min-width: $medBreakpoint) {
    .sidebar {
        position: absolute;
        right: auto;
        margin-left: 55%;
        top: 352px;
        padding: 0;
        width: 20%;
    }
    .preamble,
    .explanation,
    .participation,
    .benefits,
    .requirements,
    footer {
        width: 65%;
        text-align: left;
    }
}

@media only screen and (min-width: $largeBreakpoint) {
    .sidebar {
        margin-left: 40%;
    }
}